*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

ul.tab {
    position: absolute;
    bottom: 0;
    display: none !important;
}
@media (max-width:820px) {
    ul.tab{
        display: block !important;
        margin-right: 110px;

    }
}

div#signup-popup {
    background: rgb(31, 38, 47);
    max-width: 600px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    animation: slideIn 0.5s forwards;
    margin-bottom: 85px;
    margin-right: -40px;
}
@media (max-width:820px) {
    div#signup-popup {
        background: rgb(31, 38, 47);
        max-width: 600px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-bottom: 85px;
        margin-right: 40px;
    }
}
@media (max-width:480px) {
    div#signup-popup {
        background: rgb(31, 38, 47);
        width: 440px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -40px;
    }
}
@media (max-width:414px) {
    div#signup-popup {
        background: rgb(31, 38, 47);
        width: 360px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -30px;
    }
}
@media (max-width:390px) {
    div#signup-popup {
        background: rgb(31, 38, 47);
        width: 360px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -40px;
    }
}
@media (max-width:375px) {
    div#signup-popup {
        background: rgb(31, 38, 47);
        width: 350px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -48px;
    }
}
h1{
    font-size: 18px;
    font-weight: 400;
}
button#signbtn {
    background-color: yellow;
    font-size: 18px;
    padding: 12px 80px;
    color: black;
    font-weight: 400;
}
@media (max-width:768px) {
    button#signbtn {
        background-color: yellow;
        font-size: 20px;
        padding: 20px 70px;
        font-weight: 400;
    }
}
@media (max-width:480px) {
    button#signbtn {
     background-color: yellow;
    font-size: 13px;
    color: #000;
    padding: 13px 40px;
    }
}
@media (max-width:375px) {
    button#signbtn {
     background-color: yellow;
    font-size: 13px;
    color: white;
    padding: 13px 40px;
    }
}
button#logbtn {
    background-color: yellow;
    font-size: 18px;
    color: black;
    padding: 12px 80px;
    font-weight: 400;

}
@media (max-width:768px) {
    button#logbtn {
     background-color: yellow;
    font-size: 20px;
    padding: 20px 70px;
    font-weight: 400;
    }
}
@media (max-width:480px) {
    button#logbtn {
     background-color: yellow;
    font-size: 13px;
    padding: 13px 40px;
    }
}
@media (max-width:375px) {
    button#logbtn {
     background-color: yellow;
    font-size: 13px;
    color: white;
    padding: 13px 40px;
    }
}
div#login-popup {
    background: rgb(31, 38, 47);
    max-width: 600px;
    position: absolute;
    bottom: 0;
    animation: slideIn 0.5s forwards;
    margin-bottom: 85px;
    margin-right: -40px;

}
@media (max-width:820px) {
    div#login-popup {
        background: rgb(31, 38, 47);
        max-width: 600px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-bottom: 85px;
        margin-right: 80px;    
    }
}
@media (max-width:480px) {
    div#login-popup {
        background: rgb(31, 38, 47);
        width: 400px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -20px;
    }
}
@media (max-width:414px) {
    div#login-popup {
        background: rgb(31, 38, 47);
        width: 360px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -30px;
    }
}
@media (max-width:375px) {
    div#login-popup {
        background: rgb(31, 38, 47);
        width: 330px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -35px;
    }
}
@media (max-width:390px) {
    div#login-popup {
        background: rgb(31, 38, 47);
        width: 330px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -40px;
    }
}
h3 {
    font-size: 18px;
    font-weight: 400;
}
div#Register-popup {
    background: rgb(31, 38, 47);
    max-width: 600px;
    position: absolute;
    left: 0;
    margin-right: -60px;
    margin-top: 380px;
    border-radius: 4px;
    margin-left: 20px;
    padding: 10px;
    animation: slideIn 0.5s forwards;
}
@media (max-width:820px) {
    div#Register-popup {
        background: rgb(31, 38, 47);
        max-width: 600px;
        position: absolute;
        left: 0;
        margin-top: 480px;
        border-radius: 4px;
        margin-left: 150px;
        padding: 10px;
        animation: slideIn 0.5s forwards;
    }
}
@media (max-width:820px) {
    ul.tab{
        display: block !important;
    }
    .customContainer2{
        display: none;
    }
}
@media (max-width:768px) {
    div#Register-popup {
        background: rgb(31, 38, 47);
        max-width: 600px;
        position: absolute;
        left: 0;
        margin-top: 420px;
        border-radius: 4px;
        margin-left: 150px;
        padding: 10px;
        animation: slideIn 0.5s forwards;
    }
    ul.tab{
        display: block !important;
    }
    .customContainer2{
        display: none;
    }
}
@media (max-width:480px) {
    ul.tab{
        display: block !important;
        margin-right: 50px;
    } 
}
@media (max-width:414px) {
    ul.tab{
        display: block !important;
        margin-right: 5px;
    } 
}
@media (max-width:480px) {
    div#Register-popup {
        background: rgb(31, 38, 47);
        width: 445px;
        position: absolute;
        left: 0;
        margin-right: -60px;
        margin-top: 420px;
        border-radius: 4px;
        margin-left: 20px;
        padding: 10px;
        animation: slideIn 0.5s forwards;
    }
}
@media (max-width:414px) {
    div#Register-popup {
        background: rgb(31, 38, 47);
        width: 350px;
        position: absolute;
        left: 0;
        margin-right: -60px;
        margin-top: 420px;
        border-radius: 4px;
        margin-left: 24px;
        padding: 10px;
        animation: slideIn 0.5s forwards;
    }
}

@media (max-width:375px) {
    div#Register-popup {
        background: rgb(31, 38, 47);
        width: 350px;
        position: absolute;
        left: 0;
        margin-right: -60px;
        margin-top: 420px;
        border-radius: 4px;
        margin-left: 10px;
        padding: 10px;
        animation: slideIn 0.5s forwards;
    }
}
.close {
    background-color: #F8FF13;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    margin-top: -1pc;
}
.close2{
    background-color: #F8FF13;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    /* margin-top: -1pc; */
    margin-left: 1pc;
}
.close3{
    background-color: #F8FF13;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    margin-top: -1pc;   
}
input[type="password"] {
    height: 38px;
    background-color: rgb(34, 42, 51);
    font-size: 12px;
    padding-left: 6px;
    color: white;
}
.customContainer2{
    position: absolute;
    background-color: rgb(34, 42, 51);
    right: 0;
    width: 500px;
    margin-right:80px;
    margin-top: -50px;
    
}
.tab-group{
    display: flex;
    width: 100%;
}
.tab-group .active a {
    background-color: rgb(26, 153, 199) !important;
    color:#000;
    width: 250px;
   
}
.tab-group .active a:hover {
    background-color: transparent !important;
    
   
}
.tab-group li a {
    background-color: #F8FF13 !important;
    color:#000;
    width: 250px;
}
div#signupp {
    background-color: rgb(34, 42, 51);
    width: 500px;
    padding: 10px;
    margin-top: -40px;
}
h1 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}
input[type="text"] {
    background-color: rgb(31, 38, 47)!important;
    color: #ffffff;
    border: 1px solid white;
}
#login {
    background-color: rgb(34, 42, 51);
    width: 500px;
    padding: 10px;
    margin-top: -40px;
}
.username {
    margin: 0px 100px;
}
.password.formInput {
    margin: 0px 100px;
}
.field {
    margin: 0px 100px;
}
h3 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 30px;
}
.customLogin {
    background-color: #F8FF13 !important;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    color: black;
}
.notes {
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
#afterSignUp{
    background-color: rgb(34, 42, 51);
    width: 500px;
    padding: 10px;
    margin-top: -40px;
    height: 70vh;
}