.page-title {
    color: white !important;
    text-align: center;
    margin: 15px auto;
}

.HistoryWrap {
    margin-top: 50px;
}

.table {
    background-color: #091D22;
}

.minicontainer {
    width: 100%;
    height: auto;
}

.mybetstitle {
    margin-top: 30px;
}

.maincontainerbets {
    /* width: 90%; */
    border: 1px solid #000B10;
    /* height: 100%; */
    /* margin-left: 60px; */
    background-color: #000B10;
}


.btbt {
    outline: none;
    border: none;
    width: 100%;
    position: relative;
    /* left: 840px; */
    /* top: -40px; */
    border-radius: 5px;
    text-align: center !important;

}

.delRow {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: 2vh 0vh;
}

.deletebts {
    width: 15%;
    border: none;
    outline: none;
    background-color: #303a46;
    padding: 15px;
    border-radius: 5px;


}

.deletebts:hover {
    color: #f8ff13;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.table-bordered {
    border-color: #303A46;
}


.pagination a:hover:not(.active) {
    background-color: black;
}




/* @media (max-width: 992px) {
    
    .btbt {
        font-size: 0.7rem !important;
        width:45px;
        }
} */
@media (max-width: 1400px) {
    .deletebts {
        width: 20%;
        font-size: 13px;
    }
    .btbt {
        font-size: 13px !important;
    }

}

@media (max-width: 768px) {
    .deletebts {
        width: 15%;
        font-size: 6px;
    }

    .minicontainer1 {
        font-size: 8px;
        overflow: hidden;
    }

    .col-12 {
        font-size: 8px !important;
    }
    .btbt {
        font-size: 10px !important;
    }

}

@media (max-width: 480px) {

    .btbt {
        /* width: 90px; */
        position: relative;
        /* left: 840px; */
        /* top: -40px; */
        border-radius: 5px;
        padding: 10px;
        /* justify-content: space-between; */
    }

    .col-7 {
        font-size: 10px !important;
    }

    .col-12 {
        font-size: 6px !important;
    }

    .deletebts {
        width: 30%;
        font-size: 7px;
        right: auto;
    }

    .minicontainer1 {
        font-size: 6px;
        overflow: hidden;
    }

    .betButtons {
        max-width: 80%;
        font-size: 10px !important;

    }
}